{% extends 'kmPageBundle::layout.html.twig' %}

{% block title %}Kellermosh &middot; Impressum{% endblock %}

{% block currentPage %}imprint{% endblock %}

{% block content %}

    <h1>Impressum</h1>

    <p>
        Dies ist die Website der Veranstaltung "Kellermosh".<br>
        Verantwortlich für den Inhalt der auf den zur Domain
        <a href="http://{{ app.request.host }}">http://{{ app.request.host }}</a><br>
        gehörenden Sites, aber nicht für Verlinkungen zu externen Sites ist:<br>
    </p>

    <br>

    <blockquote>
        <p>

        <h2>Domaininhaber</h2>
        <address>
            <strong>Florian Weber</strong><br>
            Hochschulstrasse 6<br>
            01069, Dresden<br>

            <br>

            <i class="fa fa-envelope"></i> <a href="mailto:florian.weber@fweber.info" target="_blank">florian.weber@fweber.info</a><br>
            <i class="fa fa-globe"></i> <a href="http://fweber.info" target="_blank">http://fweber.info</a>
        </address>
        </p>
    </blockquote>

    <br>

    <blockquote>
        <p>

        <h2>Webdesign</h2>
        <address>
            <strong>IT-Dienstleistungen und Unternehmensberatung</strong><br>
            Andreas Weber<br>
            Lessingstrasse 3<br>
            02991 Lauta OT Torno<br>
            <br>
            Ust-Identnummer: DE 248 241 289<br>

            <br>

            <i class="fa fa-envelope"></i> <a href="mailto:info@weber-elektronik.de" target="_blank">info@weber-elektronik.de</a><br>
            <i class="fa fa-globe"></i> <a href="http://weber-elektronik.de" target="_blank">http://weber-elektronik.de</a>
        </address>
        </p>
    </blockquote>

{% endblock %}
